* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    text-align: center;
}

.container {
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 9vmin;
    background-color: #191913;
    color: antiquewhite;
}

#resetBtn {
    padding: 1.5rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1.5rem;
    margin-top: -60px;
}

#msg {
    color: antiquewhite;
    font-size: 8vmin;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1.5rem;
    margin-top: 60px;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4 rem;
}

.ticTacToe {
    margin-top: 50px;
}

.hide {
    display: none;
}